gemini_veo_workflow.json
{
  "name": "360째 Product Video Generator - Gemini Veo (Working)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-360-video",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "28257b12-b7c3-4341-a638-c9e22197ffd1",
      "name": "Webhook - Upload Image",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-1872, 176],
      "webhookId": "create-360-video"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.image_base64 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "e1398ac3-2680-4480-99dc-cb9f2155f2a8",
      "name": "Check if Real Request",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-1648, 112]
    },
    {
      "parameters": {
        "jsCode": "return {\n  status: 'success',\n  message: 'n8n webhook connection test successful',\n  timestamp: new Date().toISOString(),\n  connection: 'working'\n};"
      },
      "id": "b20cfb01-842d-46b1-80ed-3f54ff5a3879",
      "name": "Create Test Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1808, 432]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "a6b73cc8-6900-4c06-ba75-6a88fde94e7d",
      "name": "Test Connection Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-1552, 416]
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"contents\": [{\n    \"parts\": [{\n      \"inline_data\": {\n        \"mime_type\": \"image/jpeg\",\n        \"data\": \"{{ $json.image_base64 }}\"\n      }\n    }, {\n      \"text\": \"Analyze this product image and create a detailed description for 360-degree video generation. Focus on: product type, key features, materials, colors, and visual characteristics. Be specific and descriptive for video AI generation.\"\n    }]\n  }]\n}"
      },
      "id": "9d8e7b0f-6afd-4269-be91-6648a2370c87",
      "name": "Gemini Generate Description",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1424, 192]
    },
    {
      "parameters": {
        "jsCode": "// Extract product description and create 360째 video prompt\nconst response = $json;\nconsole.log('Gemini API Response:', JSON.stringify(response, null, 2));\n\nif (!response.candidates || !response.candidates[0] || !response.candidates[0].content) {\n  throw new Error('Invalid Gemini API response: ' + JSON.stringify(response));\n}\n\nconst description = response.candidates[0].content.parts[0].text;\nconst productName = $('Webhook - Upload Image').item.json.product_name || 'Product';\n\n// Create optimized 360째 video prompt for Gemini Veo\nconst videoPrompt = `Create a smooth 360-degree rotation video of this ${productName}: ${description}. The product should rotate slowly and smoothly in a complete circle on a clean, neutral background. Ensure professional lighting, stable rotation, and high visual quality. Duration: 8 seconds. Style: Commercial product showcase.`;\n\nreturn {\n  prompt: videoPrompt,\n  product_name: productName,\n  session_id: $('Webhook - Upload Image').item.json.session_id\n};"
      },
      "id": "c83b1c96-a646-41a2-974d-7c81c08782aa",
      "name": "Create Video Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1232, 192]
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-exp-1206:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"{{ $json.prompt }}\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"response_modalities\": [\"VIDEO\"],\n    \"media_resolution\": \"MEDIUM\"\n  }\n}"
      },
      "id": "b946337d-0b53-43b8-895d-3a8b4b3ef723",
      "name": "Gemini Veo - Generate Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1040, 192]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.candidates && $json.candidates[0] && $json.candidates[0].content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "e9c5272e-ba22-4efb-a7c0-85ad2bac7dd6",
      "name": "Video Generated?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-848, 192]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "3c400afe-4d07-426b-8954-7e77e13f528f",
      "name": "Wait 10s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [-848, 384],
      "webhookId": "7d4c8267-bc79-4ee9-bc7e-5cf8a8affbb3"
    },
    {
      "parameters": {
        "jsCode": "// Extract video data from Gemini Veo response\nconst response = $json;\nconsole.log('Gemini Veo Response:', JSON.stringify(response, null, 2));\n\nif (response.candidates && response.candidates[0] && response.candidates[0].content) {\n  const content = response.candidates[0].content;\n  \n  // Check if video data is available\n  if (content.parts && content.parts[0] && content.parts[0].inline_data) {\n    const videoData = content.parts[0].inline_data.data;\n    const mimeType = content.parts[0].inline_data.mime_type || 'video/mp4';\n    \n    // Convert base64 to buffer for size calculation\n    const videoBuffer = Buffer.from(videoData, 'base64');\n    \n    return {\n      video_data: videoData,\n      filename: `360_video_${Date.now()}.mp4`,\n      size: videoBuffer.length,\n      mime_type: mimeType,\n      status: 'completed'\n    };\n  }\n  \n  // Check for URI or other formats\n  if (content.parts && content.parts[0] && content.parts[0].file_data) {\n    return {\n      video_uri: content.parts[0].file_data.file_uri,\n      filename: `360_video_${Date.now()}.mp4`,\n      status: 'uri_available',\n      message: 'Video generated with URI, download required'\n    };\n  }\n}\n\n// No video data found\nthrow new Error('No video data found in Gemini response: ' + JSON.stringify(response));"
      },
      "id": "2797aa8c-6c05-4c3e-981e-eccc496f6a3f",
      "name": "Process Video Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-640, 80]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "{{ $json.video_data ? 'video/mp4' : 'application/json' }}"
              },
              {
                "name": "Content-Disposition",
                "value": "{{ $json.video_data ? 'attachment; filename=\"' + $json.filename + '\"' : '' }}"
              },
              {
                "name": "Content-Length",
                "value": "{{ $json.size || '' }}"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "de67e69d-f881-48a6-bc54-1e553ba47926",
      "name": "Return Video File",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-432, 80]
    },
    {
      "parameters": {
        "jsCode": "// Error handling - return comprehensive error message\nconst errorMsg = {\n  error: 'Video generation failed',\n  message: 'Unable to generate 360째 video with Gemini Veo. Please check your configuration and try again.',\n  timestamp: new Date().toISOString(),\n  details: 'Gemini processing or video generation failed',\n  troubleshooting: {\n    'Check environment variables': [\n      'GEMINI_API_KEY - Your Google Gemini API Key from AI Studio'\n    ],\n    'Verify API access': [\n      'Ensure Gemini API is enabled in your project',\n      'Check API quotas and usage limits',\n      'Verify Gemini Experimental access'\n    ],\n    'Common issues': [\n      'Invalid API key',\n      'Insufficient API quotas',\n      'Image size too large (max 20MB for Gemini)',\n      'Gemini Veo may be in limited preview'\n    ]\n  }\n};\n\nreturn errorMsg;"
      },
      "id": "0684253f-2a9f-4ba0-9177-56b9c6717bae",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-848, 592]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "645bd0b0-63d9-4100-ba4a-523d6372bf90",
      "name": "Return Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-640, 592]
    }
  ],
  "connections": {
    "Webhook - Upload Image": {
      "main": [
        [
          {
            "node": "Check if Real Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Real Request": {
      "main": [
        [
          {
            "node": "Gemini Generate Description",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Test Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Message": {
      "main": [
        [
          {
            "node": "Test Connection Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Generate Description": {
      "main": [
        [
          {
            "node": "Create Video Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video Prompt": {
      "main": [
        [
          {
            "node": "Gemini Veo - Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Veo - Generate Video": {
      "main": [
        [
          {
            "node": "Video Generated?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Generated?": {
      "main": [
        [
          {
            "node": "Process Video Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 10s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10s": {
      "main": [
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Video Data": {
      "main": [
        [
          {
            "node": "Return Video File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}