attached_assets/Pasted--name-360-Product-Video-Generator-GLM-4-5-Free-Gemini-nodes-pa-1758629660186_1758629660187.txt
{
  "name": "360째 Product Video Generator - GLM-4.5 Free + Gemini",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-360-video",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "c9ec4b72-77ac-4c30-8ab6-0b4410dbe5e8",
      "name": "Webhook - Upload Image",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1168,
        160
      ],
      "webhookId": "create-360-video"
    },
    {
      "parameters": {
        "url": "https://open.bigmodel.cn/api/paas/v4/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.GLM_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "glm-4-flash"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"You are an expert product description writer. Create detailed descriptions for 360-degree video generation based on product names and types.\"}, {\"role\": \"user\", \"content\": \"Create a detailed product description for 360-degree video generation. Product name: {{ $json.body.product_name || 'Product' }}. Include: product type, key features, materials, colors, and optimal viewing angles for a professional product showcase video. Be specific and detailed.\"}]"
            },
            {
              "name": "temperature",
              "value": 0.7
            },
            {
              "name": "max_tokens",
              "value": 500
            }
          ]
        },
        "options": {}
      },
      "id": "588de771-1ac0-4456-a4d7-0b43ca25b4f9",
      "name": "GLM-4.5 Generate Description",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -960,
        160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "yuo3U32vjfi74b8p",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract product description and create 360째 video prompt\nconst description = $json.choices[0].message.content;\nconst productName = $('Webhook - Upload Image').item.json.body.product_name || 'product';\nconst imageBase64 = $('Webhook - Upload Image').item.json.body.image_base64;\n\n// Create optimized 360째 rotation prompt\nconst videoPrompt = `Create a smooth 360-degree rotation video of this ${productName}. ${description}. \nStyle: Professional product showcase, clean white background, studio lighting, smooth rotation clockwise.\nCamera: Fixed position, product rotates smoothly in center frame.\nDuration: 8 seconds, seamless loop, high quality 720p.\nLighting: Even, professional studio lighting highlighting product features.\nFocus: Keep product in sharp focus throughout rotation.`;\n\nreturn {\n  video_prompt: videoPrompt,\n  product_name: productName,\n  image_base64: imageBase64,\n  description: description\n};"
      },
      "id": "f2853e30-f61d-4838-9abc-81938203a574",
      "name": "Create Video Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        160
      ]
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/veo-3.0-generate-001:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyCwFhfaKpHUE1VCrr-kqGHp6480jgxAJnE"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "=[{\"role\": \"user\", \"parts\": [{\"text\": \"{{ $json.video_prompt }}\"}, {\"inlineData\": {\"mimeType\": \"image/jpeg\", \"data\": \"{{ $json.image_base64.split(',')[1] || $json.image_base64 }}\"}}]}]"
            },
            {
              "name": "generationConfig",
              "value": "={\"responseModalities\": [\"VIDEO\"], \"videoConfig\": {\"resolution\": \"720p\", \"aspectRatio\": \"16:9\", \"duration\": \"8s\"}}"
            }
          ]
        },
        "options": {}
      },
      "id": "20d97a1e-e528-4fe5-a25f-7dd8093573b2",
      "name": "Gemini Veo3 - Generate Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -560,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.candidates && $json.candidates[0] && $json.candidates[0].content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1fa821a3-b8f9-4653-ab0f-868f0cc15e77",
      "name": "Video Generated?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -368,
        160
      ]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "6215780e-6dde-4be7-b55f-285fd0b92e24",
      "name": "Wait 5s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -368,
        352
      ],
      "webhookId": "retry-wait"
    },
    {
      "parameters": {
        "jsCode": "// Extract video data from Gemini response\nconst response = $json;\n\nif (response.candidates && response.candidates[0] && response.candidates[0].content) {\n  const content = response.candidates[0].content;\n  \n  // Look for video data in the response\n  for (const part of content.parts) {\n    if (part.inlineData && part.inlineData.mimeType === 'video/mp4') {\n      const videoBase64 = part.inlineData.data;\n      const videoBuffer = Buffer.from(videoBase64, 'base64');\n      \n      return {\n        video_data: videoBuffer,\n        filename: `360_video_${Date.now()}.mp4`,\n        size: videoBuffer.length,\n        mimeType: 'video/mp4'\n      };\n    }\n  }\n}\n\nthrow new Error('No video data found in Gemini response');"
      },
      "id": "d3959af4-ec20-456e-9cbc-95df17f18e3a",
      "name": "Process Video Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        48
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "video/mp4"
              },
              {
                "name": "Content-Disposition",
                "value": "attachment; filename=\"{{ $json.filename }}\""
              },
              {
                "name": "Content-Length",
                "value": "{{ $json.size }}"
              }
            ]
          }
        }
      },
      "id": "87c862f1-4209-43fe-9287-f08ec1fe2580",
      "name": "Return Video File",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        48,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "// Error handling - return error message\nconst errorMsg = {\n  error: 'Video generation failed',\n  message: 'Unable to generate 360째 video. Please try again.',\n  timestamp: new Date().toISOString(),\n  details: 'GLM-4.5 processing or Gemini Veo3 generation failed'\n};\n\nreturn errorMsg;"
      },
      "id": "0f163a3f-db14-4f00-919e-12d05b6552f2",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        560
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "2e632396-0073-4446-afee-d25de68e8922",
      "name": "Return Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -160,
        560
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Upload Image": {
      "main": [
        [
          {
            "node": "GLM-4.5 Generate Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GLM-4.5 Generate Description": {
      "main": [
        [
          {
            "node": "Create Video Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video Prompt": {
      "main": [
        [
          {
            "node": "Gemini Veo3 - Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Veo3 - Generate Video": {
      "main": [
        [
          {
            "node": "Video Generated?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Generated?": {
      "main": [
        [
          {
            "node": "Process Video Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s": {
      "main": [
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Video Data": {
      "main": [
        [
          {
            "node": "Return Video File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b149598e-f4f6-4e6e-a324-4d9deca67816",
  "meta": {
    "instanceId": "e356de87f3b084599e3eabbb1b97d1ba208f01258e9f779826f5091cdce39e98"
  },
  "id": "z3zoTrHuSJxe1ZOn",
  "tags": []
}