attached_assets/Pasted--name-360-Product-Video-Generator-GLM-4-5-Vertex-AI-Veo2-nodes--1758639396783_1758639396784.txt
{
  "name": "360째 Product Video Generator - GLM-4.5 + Vertex AI Veo2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-360-video",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "https://b28cd82a-3757-4aa9-8e91-2aad12351522-00-2zqkuf0iw84a4.worf.replit.dev/"
        }
      },
      "id": "349f58fa-ed5d-4fcd-8370-a4a75fa592d2",
      "name": "Webhook - Upload Image",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -384,
        80
      ],
      "webhookId": "create-360-video",
      "alwaysOutputData": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "url": "https://open.bigmodel.cn/api/paas/v4/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.GLM_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "glm-4-flash"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"You are an expert product description writer. Create detailed descriptions for 360-degree video generation based on product names and types.\"}, {\"role\": \"user\", \"content\": \"Create a detailed product description for 360-degree video generation. Product name: {{ $json.body.product_name || 'Product' }}. Include: product type, key features, materials, colors, and optimal viewing angles for a professional product showcase video. Be specific and detailed.\"}]"
            },
            {
              "name": "temperature",
              "value": 0.7
            },
            {
              "name": "max_tokens",
              "value": 500
            }
          ]
        },
        "options": {}
      },
      "id": "d6aaa641-b92e-4e2d-b472-47db93435a23",
      "name": "GLM-4.5 Generate Description",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -176,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract product description and create 360째 video prompt\nconst description = $json.choices[0].message.content;\nconst productName = $('Webhook - Upload Image').item.json.body.product_name || 'product';\nconst imageBase64 = $('Webhook - Upload Image').item.json.body.image_base64;\nconst projectId = $env.VERTEX_AI_PROJECT_ID || 'your-project-id';\n\n// Create optimized 360째 rotation prompt for Vertex AI Veo2\nconst videoPrompt = `Create a smooth 360-degree rotation video of this ${productName}. ${description}. \nStyle: Professional product showcase, clean white background, studio lighting, smooth rotation clockwise.\nCamera: Fixed position, product rotates smoothly in center frame.\nDuration: 8 seconds, seamless loop, high quality 720p.\nLighting: Even, professional studio lighting highlighting product features.\nFocus: Keep product in sharp focus throughout rotation.`;\n\n// Clean base64 image data\nconst cleanBase64 = imageBase64.includes(',') ? imageBase64.split(',')[1] : imageBase64;\n\nreturn {\n  video_prompt: videoPrompt,\n  product_name: productName,\n  image_base64: cleanBase64,\n  description: description,\n  project_id: projectId\n};"
      },
      "id": "dae7dda2-fc54-46f9-90c0-14b6141bcb14",
      "name": "Create Video Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        80
      ]
    },
    {
      "parameters": {
        "url": "https://aiplatform.googleapis.com/v1/projects/{{ $json.project_id }}/locations/us-central1/publishers/google/models/veo-2.0-generate-001:predict",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.VERTEX_AI_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "instances",
              "value": "=[{\"prompt\": \"{{ $json.video_prompt }}\", \"image\": {\"bytesBase64Encoded\": \"{{ $json.image_base64 }}\", \"mimeType\": \"image/jpeg\"}, \"parameters\": {\"responseCount\": 1}}]"
            }
          ]
        },
        "options": {}
      },
      "id": "0cba40a2-08ac-4bac-8250-b8c8e17316dd",
      "name": "Vertex AI Veo2 - Generate Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        224,
        80
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "yuo3U32vjfi74b8p",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.predictions && $json.predictions[0] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fd292712-db99-4aa4-a249-0e9bd5ca3639",
      "name": "Video Generated?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        416,
        80
      ]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "0ae445ee-2114-4714-a377-9f3ae3fff160",
      "name": "Wait 10s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        416,
        272
      ],
      "webhookId": "retry-wait"
    },
    {
      "parameters": {
        "jsCode": "// Extract video data from Vertex AI Veo2 response\nconst response = $json;\n\nif (response.predictions && response.predictions[0]) {\n  const prediction = response.predictions[0];\n  \n  // Check if video data is available\n  if (prediction.videoBytes) {\n    // Direct video bytes\n    const videoBuffer = Buffer.from(prediction.videoBytes, 'base64');\n    \n    return {\n      video_data: videoBuffer,\n      filename: `360_video_${Date.now()}.mp4`,\n      size: videoBuffer.length,\n      mimeType: 'video/mp4',\n      success: true\n    };\n  } else if (prediction.videoUri) {\n    // Video stored in Cloud Storage\n    return {\n      video_url: prediction.videoUri,\n      filename: `360_video_${Date.now()}.mp4`,\n      success: true,\n      message: 'Video generated successfully and stored in Cloud Storage'\n    };\n  } else if (prediction.status === 'PROCESSING' || prediction.status === 'PENDING') {\n    // Video still processing\n    return {\n      success: false,\n      processing: true,\n      status: prediction.status,\n      message: 'Video is still being generated. Please wait...'\n    };\n  }\n}\n\n// If no valid response\nthrow new Error('No video data found in Vertex AI Veo2 response: ' + JSON.stringify(response));"
      },
      "id": "30066a30-d859-4b56-92fc-18cfdb4da712",
      "name": "Process Video Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -32
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "{{ $json.video_data ? 'video/mp4' : 'application/json' }}"
              },
              {
                "name": "Content-Disposition",
                "value": "{{ $json.video_data ? 'attachment; filename=\"' + $json.filename + '\"' : '' }}"
              },
              {
                "name": "Content-Length",
                "value": "{{ $json.size || '' }}"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "4b036144-5211-4053-a01b-e1186c33e2f4",
      "name": "Return Video File",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        832,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "// Error handling - return error message\nconst errorMsg = {\n  error: 'Video generation failed',\n  message: 'Unable to generate 360째 video with Vertex AI Veo2. Please check your configuration and try again.',\n  timestamp: new Date().toISOString(),\n  details: 'GLM-4.5 processing or Vertex AI Veo2 generation failed',\n  troubleshooting: {\n    'Check environment variables': [\n      'VERTEX_AI_PROJECT_ID - Your Google Cloud Project ID',\n      'VERTEX_AI_ACCESS_TOKEN - Valid access token or service account key',\n      'GLM_API_KEY - Your GLM API key'\n    ],\n    'Vertex AI Requirements': [\n      'Ensure Vertex AI API is enabled in your project',\n      'Veo2 model access must be granted',\n      'Service account must have aiplatform.endpoints.predict permission'\n    ]\n  }\n};\n\nreturn errorMsg;"
      },
      "id": "c46bf507-87f1-4110-8584-e2cb876d7ff4",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        480
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "533fc0e2-a259-47f4-99b3-23e64d2e58ee",
      "name": "Return Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        624,
        480
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Upload Image": {
      "main": [
        [
          {
            "node": "GLM-4.5 Generate Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GLM-4.5 Generate Description": {
      "main": [
        [
          {
            "node": "Create Video Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video Prompt": {
      "main": [
        [
          {
            "node": "Vertex AI Veo2 - Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertex AI Veo2 - Generate Video": {
      "main": [
        [
          {
            "node": "Video Generated?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Generated?": {
      "main": [
        [
          {
            "node": "Process Video Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 10s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10s": {
      "main": [
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Video Data": {
      "main": [
        [
          {
            "node": "Return Video File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fa37bf50-c828-4e3a-b1f7-79041737539f",
  "meta": {
    "instanceId": "7018979179d7be669efb04e4c0318f1a869007041002ab7c5f689b4c579918ec"
  },
  "id": "z3zoTrHuSJxe1ZOn",
  "tags": []
}